.holder{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
}
.item3{
	padding:30px;
/* 	margin:2px; */
	background-color:green;
}
.item2{
	padding:30px;
/* 	margin:2px; */
	background-color:blue;
}
.item1{
	padding:30px;
/* 	margin:2px; */
	background-color:red;
}